engine-strict=true
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
prefer-workspace-packages=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
resolution-mode=highest 